fastapi
uvicorn[standard]
python-dotenv
youtube-transcript-api
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pydantic
openrouter

