fastapi
uvicorn[standard]
python-dotenv
youtube-transcript-api==0.6.2   # ✅ correct package + pinned version
langchain==0.2.14
langchain-core==0.2.36
langchain-text-splitters==0.2.2
langchain-community==0.2.12
langchain-groq==0.1.6
langchain-cohere==0.1.6
langchain-openai==0.1.17
sentence-transformers==2.7.0
faiss-cpu==1.8.0
pydantic==1.10.15
openrouter
pinecone-client==4.1.0
